# Ignore Gradle project-specific cache directory
.gradle

# Ignore IDEA project directory
.idea

# Ignore Gradle build output directory
build

# Ignore IDEA build output directory
out

# Ignore Maven build output directory
target

# Ignore locally stored Gradle property file.
# JxBrowser license key is stored in this file too.
gradle.properties
